<?xml version="1.0"?>
<!--
/**
 * Technical Challenge
 *
 * @category    TechChallenge
 * @package     TechChallenge_CheckoutValidator
 * @author      Rafael Falcão <rafaelfalcaof@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="checkout-validator-payment-information-management"
                type="TechChallenge\CheckoutValidator\Plugin\Checkout\PaymentInformationManagementPlugin"
                sortOrder="1" />
    </type>
</config>
